@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    font-weight: 600;
    
}	

window#waybar {
    background: transparent;
    padding: 2px 0;
    margin: 0;
    box-shadow: none;
}

.modules-left,
.modules-center,
.modules-right {
    background: @background;
    border-radius: 12px; 
    padding: 2px 10px;
    margin: 0;
    border: 2px solid @surface_container;
}

.modules-left { margin-left: 15px; }
.modules-right { margin-right: 15px; }

#hardware, #custom-player { color: @secondary; }
#clock, #pulseaudio, #bluetooth, #battery, #network { color: @primary; }
#custom-power, #custom-tray-toggle { color: @tertiary; }


#workspaces button {
    color: @primary_container;
    padding: 0 8px;
    transition: all 0.3s ease;
}

#workspaces button.active, 
#workspaces button.visible {
    color: @primary;
    font-size: 20px;
}

#workspaces button:hover {
    background: @background;
}

#custom-power:hover {
    color: @tertiary_fixed;
}

#clock:hover {
    color: @primary_fixed;
}

#hardware:hover {
    color: @secondary-fixed;
}

#pulseaudio:hover, #bluetooth:hover, #battery:hover, #network:hover {
    color: @primary-fixed;
}

#custom-tray-toggle:hover {
    color: @tertiary-fixed;
}

#cpu, #temperature, #memory, #custom-tray-toggle, 
#pulseaudio, #custom-power, #clock, #tray, #network, 
#bluetooth, #battery, #custom-player {
    padding: 0 10px;
}

#tray {
    padding: 0;
}

#tray > .passive, 
#tray > .active, 
#tray > .needs-attention {
    padding: 0 8px;
}

#tray menu {
    background: @background;
    border: 1px solid @surface_container;
    border-radius: 8px;
}

#tray image, #tray button {
    padding: 0 5px;
}

#hardware {
    margin-right: 10px;
}

#pulseaudio {
    margin: 0 10px;
}

#bluetooth {
    margin: 0 10px;
}

#network {
    margin: 0 10px;
}

#clock {
    margin: 0 10px;
}

#custom-tray-toggle {
    margin-left: 10px;
}

#custom-player {
    margin-left: 10px;
}

#custom-power {
    margin-right: 10px;
}