* {
    primary: #97ccf9;
    primary-fixed: #cbe6ff;
    primary-fixed-dim: #97ccf9;
    on-primary: #003350;
    on-primary-fixed: #001e30;
    on-primary-fixed-variant: #024b71;
    primary-container: #024b71;
    on-primary-container: #cbe6ff;
    secondary: #b8c8d9;
    secondary-fixed: #d4e4f6;
    secondary-fixed-dim: #b8c8d9;
    on-secondary: #22323f;
    on-secondary-fixed: #0d1d2a;
    on-secondary-fixed-variant: #394856;
    secondary-container: #394856;
    on-secondary-container: #d4e4f6;
    tertiary: #d0bfe7;
    tertiary-fixed: #ecdcff;
    tertiary-fixed-dim: #d0bfe7;
    on-tertiary: #372b4a;
    on-tertiary-fixed: #211634;
    on-tertiary-fixed-variant: #4e4162;
    tertiary-container: #4e4162;
    on-tertiary-container: #ecdcff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #101417;
    on-surface: #e0e3e8;
    on-surface-variant: #c1c7ce;
    outline: #8c9198;
    outline-variant: #42474d;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e0e3e8;
    inverse-on-surface: #2d3135;
    inverse-primary: #2a638a;
    surface-dim: #101417;
    surface-bright: #363a3e;
    surface-container-lowest: #0b0f12;
    surface-container-low: #181c20;
    surface-container: #1c2024;
    surface-container-high: #262a2e;
    surface-container-highest: #313539;
}